@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Roboto+Mono:wght@200&display=swap');
.caption {background-color:rgb(190, 207, 34);}


body {
    margin-top:125px;
}

.container {
    margin: auto;
    width: 75%;
    border: 4px solid firebrick;
    padding: 10px;
}

.img-index {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;

}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h2 {
    font-family: Roboto Mono;
}

p {
    font-family: Josefin Sans;
}

#second-para {
    text-align: left;
}