.quote-text {
    font-family:'Gill Sans';
}

.all-body {
    margin-left:auto;
    margin-right:auto;
    width: 1000px;
}

.head {
    width:900px;
    height:500px;
    background-color: beige;
    background-size:cover;
    margin-right:auto;
    margin-left:auto;
}

.topic {
    height:70px;
    border: 10 solid black;
    position:relative;
    background-color:white;
    padding:10px;

}

#topic-test {
    text-align:center;
    font-size: 40px;
}

span {
    font-family:monospace;

}

#sub-sec-head {
    background-color:aquamarine;
    position: relative;
    text-align:center;
    font-size:30px;
    padding-top:30px;
    line-height:12px;
    color:black;
    font-weight:bolder;
    padding-left:200px;
    padding-right:200px;
    height:50px;
    width:700px;
    margin-left:200px;

}

.main-content {
    border-top:10px;
    border-color: black;
    margin-top:1px;
    font-size: 15px;
    float: right;
}